.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.app-container > * {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid cadetblue;
  border-radius: .5rem;
  min-width: 40%;
}